<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">MODULO AUTORES</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">{{ accion | uppercase }}</h5>

                    <form [formGroup]="form" (ngSubmit)="guardarAutor()">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="fas fa-user"
                                [class.green-icon]="this.form.get('nombreCompleto')?.valid"
                                [class.red-icon]="this.form.get('nombreCompleto')?.invalid && this.form.get('nombreCompleto')?.touched"></i>
                            </span>
                            <input formControlName="nombreCompleto" type="text" class="form-control" placeholder="*Nombre Completo">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="fas fa-calendar-alt"
                                    [class.green-icon]="this.form.get('fechaNacimiento')?.valid"
                                    [class.red-icon]="this.form.get('fechaNacimiento')?.invalid && this.form.get('fechaNacimiento')?.touched"></i>
                            </span>
                            <input formControlName="fechaNacimiento" type="text" class="form-control" placeholder="*dd/mm/yyyy">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="fa-sharp fa-solid fa-city"
                                    [class.green-icon]="this.form.get('ciudadProcedencia')?.valid"
                                    [class.red-icon]="this.form.get('ciudadProcedencia')?.invalid && this.form.get('ciudadProcedencia')?.touched"></i>
                            </span>
                            <input formControlName="ciudadProcedencia" type="text" class="form-control" placeholder="*Ciudad procedencia">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-envelope"
                                    [class.green-icon]="this.form.get('correoElectronico')?.valid"
                                    [class.red-icon]="this.form.get('correoElectronico')?.invalid && this.form.get('correoElectronico')?.touched"></i>
                            </span>
                            <input formControlName="correoElectronico" type="text" class="form-control" placeholder="*Correo electronico">
                        </div>
                        <div class="d-grid gap-2">
                            <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg">
                                <i class="fa-solid fa-floppy-disk"></i>&nbsp; Guardar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo"></h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>NOMBRE COMPLETO</td>
                                <td>FECHA NACIMIENTO</td>
                                <td>CIUDAD PROCEDENCIA</td>
                                <td>CORREO ELECTRONICO</td>
                                <td></td>
                                <td></td>
                            </tr>                            
                        </thead>
                        <tbody>
                            <tr *ngFor="let autor of listAutores">
                                <td>{{ autor.nombreCompleto }}</td>
                                <td>{{ autor.fechaNacimiento }}</td>
                                <td>{{ autor.ciudadProcedencia }}</td>
                                <td>{{ autor.correoElectronico }}</td>
                                <td>
                                    <!-- <i (click)="editarAutor(autor)" class="far fa-edit text-info"></i> -->
                                </td>
                                <td>
                                    <!-- <i (click)="eliminarAutor(autor.id)" class="far fa-trash-alt text-danger"></i> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>